html {
  scroll-behavior: smooth;
}

.paralax {
  /* The image used */
  background-image: url("../assets/paralax.jpg");
  /* Set a specific height */
  min-height: 320px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  /* The image used */
  background-image: url("../assets/background2.jpg");
  /* Set a specific height */
  min-height: 320px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background3 {
  /* The image used */
  background-image: url("../assets/background3.jpg");
  /* Set a specific height */
  min-height: 320px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background4 {
  /* The image used */
  background-image: url("../assets/background4.jpg");
  /* Set a specific height */
  min-height: 320px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

.listAnchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  width: 100%;
}

.brightOuterCont, .darkOuterCont, .outerLandingCont {
  background-color: #272727;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  width: 100%;
}

.darkOuterCont {
  background-color: #272727;
}

.outerLandingCont {
  height: 100vh;
}

.darkInnerContainer, .brightInnerCont {
  background-color: #272727;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  width: 100%;
  position: relative;
}

.brightInnerCont {
  background-color: #272727;
  color: white;
}

.mainHeader, .header {
  font-size: 6rem;
  font-weight: bolder;
}

.headings {
  margin: 30px 0;
}

.header {
  margin: 0;
  padding: 0 0 5px 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 5px;
  width: 300px;
  /* or 100px */
  border-bottom: 8px solid;
}

.subHeader {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.subSubHeader {
  font-size: 1.8rem;
}

.downChevron {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectCont {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projectCont:hover .project {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

a p {
  position: relative;
}

a p::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: white;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.listAnchor:hover p::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.skillsCont {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.projectCont {
  -webkit-animation: borderGrow 1s;
          animation: borderGrow 1s;
}

@-webkit-keyframes borderGrow {
  0% {
    border: 1px solid;
    border-width: 0%;
  }
  50% {
  }
}

@keyframes borderGrow {
  0% {
    border: 1px solid;
    border-width: 0%;
  }
  50% {
  }
}

.skill {
  font-weight: bold;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.courseHeader {
  margin-bottom: 0;
  font-size: 1.6rem;
}

.coursePara {
  margin-top: 3px;
}

form {
  width: 60%;
}

input {
  width: 100%;
}

.messageArea {
  height: 10em;
  width: 100%;
  background-color: inherit;
  border: 4px solid white;
  color: inherit;
}

.status-message {
  display: none;
}

.success {
  display: block;
}

.failure {
  display: block;
  color: red;
}

.formField {
  background-color: inherit;
  border: none;
  border-bottom: 4px solid white;
  margin-top: 5px;
  height: 1.5rem;
  color: inherit;
}

.formField,
.messageArea {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 5px;
}

.formField:focus,
.messageArea:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Internet Explorer */
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

::placeholder {
  /* Internet Explorer */
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.submitButton, .downloadCVLight, .downloadCVDark {
  width: 40%;
  border: 4px solid white;
  background-color: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.submitButton:hover, .downloadCVLight:hover, .downloadCVDark:hover {
  background-color: white;
  color: #272727;
  cursor: pointer;
}

form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.errorMessage {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 4px;
}

.downloadCVLight, .downloadCVDark {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: #272727;
  margin: 30px 0;
  width: 30%;
}

.downloadCVLight:hover, .downloadCVDark:hover {
  color: white;
  background-color: #272727;
}

.downloadCVDark {
  border-color: white;
}

.downloadCVDark:hover {
  color: #272727;
  background-color: white;
}
/*# sourceMappingURL=Sass.css.map */